:root {
  --Font: "Eras Demi ITC";
  --ChatImage: 1; /*Opacity Of Chat Image*/
  --ChatImageSize: 3rem; /*Size of Image On Main Chat*/
  --ProfileImageSize: 15rem; /*Profile Image Size*/
  --ImageEdgeCutting: 25%; /*Smooths Corners of Most Images*/
  --EmojiSize: 3rem; /*Size of Emotes*/
  --Color1: rgba(0, 0, 5, 0.5);/*Overall Background*/
  --Color2: rgba(0, 0, 5, 0.8);/*Hard Background Or Highlight*/
  --Color3: rgba(80, 120, 255, 0.7);/*Notifications*/
  --Color4: rgba(50, 50, 50, 0.4);/*Shadows*/
  --Color5: rgba(0, 0, 20, 0.5); /*Text Shadow*/
  --Color6: rgba(30, 30, 60, 0.5);/*Borders*/ 
  --Color7: rgba(35, 35, 35, 0.4);/*Button*/
  --Color8: rgba(80, 80, 80, 0.6);/*Button Hover*/
  --Color9: rgba(50, 60, 100, 0.3);/*Scroller*/
  --Color10: rgba(250, 100, 100, 1);/*Links & @Mentions*/
  --Color11: rgba(255, 50, 50, 0.7);/*Warning Font Color*/
  --Color12: rgba(200, 255, 120, 1);/*Username Color When Not Specified By Role*/
  --Color13: rgba(255, 255, 255, 0.9);/*Primary Font Color*/
  --Color14: rgba(200, 200, 200, 0.6);/*Secondary Font Color*/
  --Color15: rgba(0, 0, 15, 0.6);/*Selected Item Font Color*/
  --Color16: rgba(80, 80, 150, 0.6); /*Checkboxes - ON Color/*/
  --Icons: rgba(150, 150, 250, 0.8);/*Icon Colors*/  
  --BackgroundImage: url("");
}

/*Background Image*/
.app {
    background-size: cover !important;
    background-position: center;
    font-family: var(--Font) !important;
}
.appMount-3lHmkl, body{
    background: transparent !important;
    background-image: var(--BackgroundImage) !important;
}

/*Some Icon Color (Most If Set To Important)*/
svg {
    color: var(--Icons);
}

/*No Border*/
.theme-dark .attachment-33OFj0,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.divider-JfaTT5,
.messageGroupWrapper-o-Zw7G,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.theme-dark .popout-2sKjHu,
.channelSeparator-1X1FuH:before,
.jumpToPresentBar-9P20AM {
    border: none !important;
}

/*No Margin*/
.withFrame-haYltI {
    margin: 0 !important;
}

/*No Shadow*/
.channelNotice-1-XFjC,
.header-2o-2hj,
.content-yTz4x3:before,
.contextMenu-HLZMGh,
.wrapper-2aW0bm,
.theme-dark .modal-yWgWj-,
.theme-dark .footer-3rDWdC,
.theme-dark .container-3ayLPN,
.theme-dark .footer-3mqk7D,
.theme-dark .uploadModal-2ifh8j,
.bd-switch::after {
    box-shadow: none !important;
}

/*Full Opacity*/
.rowWrapperDim-2Y1SDG .nameBodyCell-3JOlnK, .rowWrapperDim-2Y1SDG .settingIcon-1nXguX, .rowWrapperDim-2Y1SDG .textCell-1aBIUP {
    Opacity: 1 !important;
}

/*Font*/
.app,
.base-1x0h_U,
.username-1A8OIy,
.markup-2BOw-j,
.clickable-1JJAn8.container-2Pjhx-:active, .selected-aXhQR6.container-2Pjhx-,
.container-2Pjhx-,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root,
.colorStandard-2KCXvj,
.subtext-3CDbHg,
.cozy-3raOZG .timestamp-3ZCmNB,
.modeConnected-2IEL4z .name-3_Dsmg, .modeConnected-2IEL4z:hover .name-3_Dsmg, .modeSelected-1zApJ_ .name-3_Dsmg, .modeSelected-1zApJ_:hover .name-3_Dsmg, .modeUnread-1zpFdA .name-3_Dsmg, .modeUnread-1zpFdA:hover .name-3_Dsmg, .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg,
.modeMuted-3osy7j:hover .name-3_Dsmg, .wrapper-1ucjTd:hover .name-3_Dsmg,
.name-3_Dsmg,
.container-2ax-kl,
.content-1o0f9g,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.message-3SOT5P,
#bd-pub-button,
.themed-OHr7kt.item-PXvHYJ,
.username-31C1TQ,
.subtext-24R4-w,
.colorHeaderSecondary-3Sp3Ft,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button,
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls,
.emptyText-2zjpZr,
div.item-3HknzM.da-item.item-PXvHYJ,
.contextMenu-HLZMGh,
.medium-2-DE5M .input-1Rv96N, .medium-2-DE5M .tag-2gHSR7,
#bda-qem button,
.header-39GIC8,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6
.lookFilled-1Gx00P.colorGreen-29iAKY,
.small-2oHLgT .input-3Xdcic, .small-2oHLgT .tag-2gZFdE,
.emptyStateHeader-3CJtAy,
.emptyStateDescription-2IePen,
div.contents-18-Yxp.da-contents,
.nameCellText-1mpqtF,
.textCell-1aBIUP,
.channelName-3kBz6H,
.headerTabBarWrapper-27xBDe .tabBar-2UKwcE .tabBarItem-1Cg-MI,
.mentionFilter-1PQ6ey .label-12YslM,
.mentionFilter-1PQ6ey .value-2k8Drt,
.jumpButton-3DTcS_,
.guildName-1Bc3Ta,
.downloadLink-1ywL9o,
.title-31JmR4,
.description-3_Ncsb,
.theme-dark .rowTitle-1KYtY7,
.theme-dark .defaultIndicator-3WqGFB,
.h5-18_1nd,
.barButtonBase-3UKlW2,
.note-3kmerW textarea,
.bd-search-wrapper,
.bd-pfbtn,
.bd-search,
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, td, tfoot, th, thead, tr, tt, ul, var, samp, small, strike, strong, table, tbody {
    font-family: var(--Font) !important;
}

/*Transparent*/
.messages-3amgkR,
.bg-h5JY_x,
.chat-3bRxxu,
.sidebar-2K8pFh,
.privateChannels-1nO12o,
.scroller-1JbKMe,
.panels-j1Uci_,
.scrollableContainer-2NUZem,
.container-1r6BKw.themed-ANHk51,
.children-19S4PO:after,
.wrapper-1Rf91z,
.theme-dark .footer-3rDWdC,
.scroller-2TZvBN,
.ace-monokai .ace_gutter,
#bd-customcss-detach-container,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.sidebarRegionScroller-3MXcoP,
.standardSidebarView-3F1I7i,
.layer-3QrUeG,
.contentRegionScroller-26nc1e,
.contentRegion-3nDuYy,
.container-PNkimc,
.members-1998pB,
div.folderIconWrapper-226oVY.da-folderIconWrapper,
.unreadPill-2HyYtt,
.form-2fGMdU:before,
.theme-dark .container-1D34oG,
.nowPlayingColumn-2sl4cE,
div.item-3HknzM.da-item.item-PXvHYJ,
.infoBar-U6oBFk,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.emojiPicker-3m1S-j .categories-1feg4n,
.wrapper-2aW0bm,
.scroller-1IIF0A,
.header-39GIC8,
.header-ykumBX,
.scroller-2XE8rp,
.applicationStore-1pNvnv,
.scroller-9moviB,
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .paginator-166-09,
.theme-dark .expandedInfo-3kfShd,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.tier1-1ttHRY.banner-3Kac2g,
.theme-dark .optionActive-KkAdqq,
.header-QKLPzZ,
.body-3ND3kc,
.theme-dark .tiles-2aXG_k,
.topSectionNormal-2-vo2m,
.theme-dark .option-96V44q:after,
.searchResult-3pzFAB:before,
.searchResult-3pzFAB:after,
.theme-dark .footer-3mqk7D,
.wrapper-3WhCwL,
.channelTextArea-rNsIhG,
.theme-dark .focused-2bY0OD,
.theme-dark .row-rrHHJU.selected-1pIgLL {
   background: transparent !important;
}
.message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover {
   background: transparent; 
}
.unreadPillCapStroke-7rkHbg,
.unreadPill-2HyYtt {
    color: transparent !important;
    fill: transparent !important;
}

/*Color 1*/
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.searchBar-3dMhjb,
.theme-dark .selectorSelected-1_M1WV,
#bd-pub-button,
.expandedFolderBackground-2sPsd-,
.circleIconButton-jET_ig,
.folder-21wGz3,
.ace-monokai,
.theme-dark .attachment-33OFj0,
.app-2rEoOp,
.withFrame-haYltI,
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls,
.wrapper-35wsBm,
.embedFull-2tM8--,
.content-1o0f9g,
.newMessagesBar-mujexs,
.botTagRegular-2HEhHi,
.panels-j1Uci_,
.clickable-1JJAn8:hover .layout-2DM8Md,
.wrapper-3D2qGf,
.outer-1AjyKL,
.emptyCard-1RJw8n,
.theme-dark .inset-3sAvek,
.contextMenu-HLZMGh,
.theme-dark .bar-2Qqk5Z,
#bda-qem,
#bda-qem button,
.container-2XeR5Z,
.container-cMG81i,
.messageGroupWrapper-o-Zw7G,
.theme-dark .defaultIndicator-3WqGFB,
.theme-dark .payment-xT17Mq,
.detailsBlock-FoDTGA,
.tier1-1ttHRY.banner-3Kac2g,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.preview-2nSL_2,
.button-1I8KM5,
.wrapper-2aW0bm,
.markup-2BOw-j code,
.theme-dark .container-3ayLPN,
.searchResultsWrap-2DKFzt,
.searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .quickMessage-1yeL4E,
.wrapper-2qzCYF,
.menu-Sp6bN1,
.itemBase-1Qj4z6:hover,
.itemActive-2V2HNc,
.wrapper-3WhCwL:hover,
.bd-search-wrapper,
.theme-dark .dim-1l4L4y span,
div.container-2VW0UT.elevationHigh-1PneE4.da-container.da-elevationHigh,
.theme-dark .message-2qRu38,
.theme-dark .container-VSDcQc .sectionTag-pXyto9,
.theme-dark .uploadModal-2ifh8j, .scrollableContainer-2NUZem,
.theme-dark .card-FDVird:before {
    background-color: var(--Color1) !important;
}

/*Color 2*/
div.backdrop-1wrmKB.da-backdrop,
.emojiPicker-3m1S-j,
#bda-qem-twitch-container, #bda-qem-favourite-container,
.messagesPopoutWrap-1MQ1bW,
.theme-dark .popout-2sKjHu,
.root-SR8cQa,
.theme-dark .autocomplete-1vrmpx,
.theme-dark .modal-yWgWj-,
.theme-dark .option-96V44q.selected-rZcOL-,
.channelName-1QajIf,
.theme-dark .headerNormal-T_seeN,
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6,
.jumpToPresentBar-9P20AM,
.theme-dark .root-1gCeng,
.theme-dark .uploadModal-2ifh8j,
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .header-2bNvm4,
.bd-switch {
    background-color: var(--Color2) !important;
}
.embedFull-2tM8-- {
    border-left: 3px solid var(--Color2) !important;   
}

/*Color 3 - B_Color*/
.item-2hkk8m,
div.numberBadge-2s8kKX.base-PmTxvP.da-numberBadge.da-base,
.barFill-23-gu-,
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span,
.blockquoteDivider-2hH8H6,
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--Color3) !important;
}
/*Color 3 - Color*/
.circleIconButton-jET_ig,
.isUnread-3Ef-o9 .content-1o0f9g {
    color: var(--Color3) !important;
    fill: var(--Color3) !important;
}
/*Color 3 - Half Opacity*/
.ace-monokai .ace_marker-layer .ace_active-line,
.ace-monokai .ace_gutter-active-line,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background-color: var(--Color3) !important;
    opacity: 0.5 !important;
}
/*New Message Chat Date Notification Line*/
.isUnread-3Ef-o9 {
    border-bottom: 1px solid var(--Color3) !important;
    padding-bottom: 5px !important;
}
/*Right Click Tick Box Border*/
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    border-color: var(--Color3) !important;
}

/*Color 4*/
.searchResultMessage-2VxO12.hit-NLlWXA,
.menu-Sp6bN1 {
    box-shadow: 0 0 1rem 1rem var(--Color4) !important;
}
.bd-switch,
.bd-switch::after,
.theme-dark .elevationHigh-1PneE4,
.theme-dark .message-2qRu38,
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteShadow-iiGWFU {
    box-shadow: 0 0 0.1rem 0.1rem var(--Color4) !important;;
}

/*Color 5*/

/*Color 6*/
.rowWrapper-2fB6P0+.rowWrapperActive-2L7i9f .row-ZLfFhY, .rowWrapperActive-2L7i9f+.rowWrapper-2fB6P0 .row-ZLfFhY,
.theme-dark .footer-3rDWdC,
.theme-dark .footer-3mqk7D,
.rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
    border-top: 1px solid var(--Color6) !important;
}
.channelNotice-1-XFjC,
.header-2o-2hj,
.container-1r6BKw.themed-ANHk51 {
    border-bottom: 1px solid var(--Color6) !important;
}
.guilds-1SWlCJ,
.attachWrapper-2TRKBi,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG {
    border-right: 1px solid var(--Color6) !important;
}
.ace-monokai .ace_gutter,
#bda-qem button,
.headerCell-3L6rFG {
    border-left: 1px solid var(--Color6) !important;
}
.theme-dark .uploadModal-2ifh8j,
.scrollableContainer-2NUZem,
.theme-dark .card-FDVird:before{
    border: 1px solid var(--Color6) !important;
}
.searchResult-3pzFAB{
    border: 2px solid var(--Color6) !important;
}
.headerTabBarWrapper-27xBDe .tabBar-2UKwcE .tabBarItem-1Cg-MI,
.theme-dark .bottomDivider-1K9Gao,
.cardPrimaryOutline-29Ujqw,
.markup-2BOw-j code,
.searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .quickMessage-1yeL4E,
.theme-dark .tiles-2aXG_k,
.separator-2zcjq8,
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus,
button.btn.btn-primary {
    border-color: var(--Color6) !important;
}

/*Color 7*/
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button,
.cancelButton-3hVEV6, .downloadButton-23tKQp,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.childWrapper-anI2G9,
.actionButton-uPB8Fs.da-actionButton,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.jumpButton-3DTcS_,
.jumpButton-Ia2hRJ,
.lookFilled-1Gx00P.colorRed-1TFJan,
.centerButton-3CaNcJ,
.cancelButton-2O3h8t,
.bd-addon-list .bd-card-footer button,
.bd-pfbtn {
    background-color: var(--Color7) !important;
}

/*Color 8*/
.wrapper-1BJsBx:hover.selected-bZ3Lue:hover .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9:hover,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor:hover #bd-customcss-attach-controls button:hover,
.cancelButton-3hVEV6, .downloadButton-23tKQp:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover,
div.actionButton-uPB8Fs.da-actionButton:hover,
div.item-3HknzM.da-item.item-PXvHYJ.themed-OHr7kt.da-themed:hover,
div.item-3HknzM.da-item.item-PXvHYJ:hover,
.clickable-11uBi-:hover, .selected-BYpGTS,
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S,
.button-1ZiXG9:hover,
.jumpButton-3DTcS_:hover,
.jumpButton-Ia2hRJ:hover,
.centerButton-3CaNcJ:hover,
.cancelButton-2O3h8t:hover,
.bd-addon-list .bd-card-footer button:hover
.bd-pfbtn:hover,
.theme-dark .row-rrHHJU.selected-1pIgLL {
    background-color: var(--Color8) !important;
}
.attachButton-2WznTc:hover .attachButtonPlus-jWVFah {
    fill: var(--Color8) !important;
}
.active-23Nm0T .icon-3D60ES, .buttonWrapper-1ZmCpA:hover .icon-3D60ES {
    color: var(--Color8) !important;
}    

/*Color 9*/
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: var(--Color9) !important;
}

/*Color 10*/
.anchor-3Z-8Bb,
.markup-2BOw-j a,
.theme-dark .mentioned-xhSam7 .mention, .theme-light .mentioned-xhSam7 .mention,
.wrapper-3WhCwL,
.wrapper-3WhCwL:hover {
    color: var(--Color10);
}

/*Color 11 - Color*/
.itemBase-tz5SeC.danger-2dXSTE, .itemBase-tz5SeC.danger-2dXSTE:hover {
   color: var(--Color11); 
}
/*Color 11 - B_Color*/
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: var(--Color11) !important; 
}

/*Color 12*/
.compact-T3H92H .header-23xsNx .username-1A8OIy, .cozy-3raOZG .header-23xsNx .username-1A8OIy {
    color: var(--Color12);
}

/*Color 13*/
.ace-monokai .ace_cursor,
.unreadPill-2HyYtt,
.barButtonBase-3UKlW2,
.markup-2BOw-j,
.base-1x0h_U,
.clickable-1JJAn8.container-2Pjhx-:hover, .clickable-1JJAn8.container-2Pjhx-:hover .muted-3mU76i,
.clickable-1JJAn8.container-2Pjhx-:active, .selected-aXhQR6.container-2Pjhx-,
.colorStandard-2KCXvj,
.modeConnected-2IEL4z .name-3_Dsmg, .modeConnected-2IEL4z:hover .name-3_Dsmg, .modeSelected-1zApJ_ .name-3_Dsmg, .modeSelected-1zApJ_:hover .name-3_Dsmg, .modeUnread-1zpFdA .name-3_Dsmg, .modeUnread-1zpFdA:hover .name-3_Dsmg, .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg,
.modeMuted-3osy7j:hover .name-3_Dsmg, .wrapper-1ucjTd:hover .name-3_Dsmg,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.message-3SOT5P,
.username-31C1TQ,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button,
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls,
.contents-18-Yxp.da-contents,
.itemBase-tz5SeC,
.medium-2-DE5M .input-1Rv96N, .medium-2-DE5M .tag-2gHSR7,
#bda-qem button,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.small-2oHLgT .input-3Xdcic, .small-2oHLgT .tag-2gZFdE,
.emptyStateHeader-3CJtAy,
.nameCellText-1mpqtF,
.channelName-3kBz6H,
.headerTabBarWrapper-27xBDe .tabBar-2UKwcE .tabBarItem-1Cg-MI,
.mentionFilter-1PQ6ey .value-2k8Drt,
.title-31JmR4,
.theme-dark .rowTitle-1KYtY7,
.theme-dark .defaultIndicator-3WqGFB,
.theme-dark .userSettingsAccount-2eMFVR .viewBody-2Qz-jg,
.theme-dark .searchOption-zQ-1l6 .filter-3Y_im-,
.theme-dark .resultsGroup-r_nuzN .header-2N-gMV, .theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL, .theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO, .theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a,
.channelName-1QajIf,
.jumpButton-Ia2hRJ,
.theme-dark .content-Qb0rXO,
.primary-jw0I4K,
.defaultColor-1_ajX0,
.lookFilled-1Gx00P.colorRed-1TFJan,
.theme-dark .contentTitle-2tG_sM strong,
.note-3kmerW textarea,
.itemBase-1Qj4z6,
.cancelButton-2O3h8t,
.bd-pfbtn,
.bd-search,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    color: var(--Color13);
}
/*Color 13 B_Color*/
.bd-switch::after {
    background-color: var(--Color13) !important;
}

/*Color 14*/
.ace-monokai .ace_comment,
.ace-monokai .ace_gutter,
.content-1o0f9g,
.cozy-3raOZG .timestamp-3ZCmNB,
.botTagRegular-2HEhHi,
.container-2Pjhx-,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root,
.subtext-3CDbHg,
.name-3_Dsmg,
.container-2ax-kl,
.activity-2Gy-9S,
.content-1o0f9g,
#bd-pub-button,
.themed-OHr7kt.item-PXvHYJ,
.subtext-24R4-w,
.colorHeaderSecondary-3Sp3Ft,
.emptyText-2zjpZr,
.emptyStateDescription-2IePen,
.textCell-1aBIUP,
.mentionFilter-1PQ6ey .label-12YslM,
.jumpButton-3DTcS_,
.guildName-1Bc3Ta,
.downloadLink-1ywL9o,
.description-3_Ncsb, .labelDescriptor-1PqHgD,
.theme-dark .rowBody-3dJTTZ,
.h5-18_1nd,
.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8,
.theme-dark .contentTitle-2tG_sM,
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43,
.theme-dark .quickMessage-1yeL4E,
.helper-2c73HK,
.bd-search-wrapper,
.theme-dark .dim-1l4L4y span {
    color: var(--Color14);
}

/*Color 15*/
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.selected-aXhQR6 .layout-2DM8Md,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    background-color: var(--Color15) !important;
}

/*Color 16*/
.bd-switch-checked {
    background-color: var(--Color16) !important;
}

/*Chat Image Scale*/
.a11y-font-scaled-down .avatar-1BDn8e {
	opacity: var(--ChatImage) !important;
    width: var(--ChatImageSize) !important;
    height: var(--ChatImageSize) !important;
    background-size: var(--ChatImageSize) var(--ChatImageSize);
    border-radius: var(--ImageEdgeCutting) !important;
    box-shadow: 0rem 0rem 1rem var(--Color5) !important;
}
/*Profile Image Scale*/
div.avatar-3EQepX.da-avatar.wrapper-3t9DeA.da-wrapper {
    width: var(--ProfileImageSize) !important;
    height: var(--ProfileImageSize) !important;
}

/*Mask Removal For ImageEdgeCutting*/
foreignobject {
    mask: none;
    border-radius: var(--ImageEdgeCutting) !important;
}

/*Message Spacing From Image*/
.cozy-3raOZG .contents-2mQqc9,
.container-1ov-mD {
    margin-left: calc(var(--ChatImageSize) - 3rem);
}
.cozyMessage-3V1Y8y.groupStart-23k01U {
    min-height: calc(var(--ChatImageSize) + 0.2rem);
}
.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
    margin-top: 1.1rem !important; 
    margin-bottom: 1.1rem !important; 
}
.isHeader-2dII4U {
    top: 0px;
}
.cozy-3raOZG .messageContent-2qWWxC {
    padding-top: -2rem;    
}

/*Main Chat Search Result Spacing*/
.searchResult-3pzFAB {
    margin-bottom: 1rem;
}

/*Emoji Size*/
.emoji.jumboable {
    width: var(--EmojiSize);
    height: var(--EmojiSize);
    min-height: var(--EmojiSize);
}

/*Mention Pulse*/
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover,
.mentioned-xhSam7 {
    animation: 0.8s infinite alternate ease-out MentionBackground;
    border-right: 2px solid rgba(0,0,0,0) !important;
}
.mentioned-xhSam7:before {
    animation: 0.8s infinite alternate ease-out MentionBorders;
}

/*Hover Element Pulse For Vision*/
.searchResult-3pzFAB:hover {
    animation: 2s infinite ease-out Hover;
}

/*Aimations*/
@keyframes MentionBackground {
    from {
        background-color: transparent;
        border-color: rgba(0,0,0,0);
    }
    to{
        background-color: var(--Color1);
        border-color: var(--Color3);
    }
}
@keyframes MentionBorders {
    from {
        background-color: transparent;
    }
    to{
        background-color: var(--Color3);
    }
}

@keyframes Hover {
        0% { background-color: rgba(0,0,0,0); }
        50% { background-color: rgba(50,50,120,0.3); }
        100% { background-color: rgba(0,0,0,0); }
}

.a11y-font-scaled-down .avatar-1BDn8e:hover {
    animation: 0.5s ease-in HoverPic;
    animation-fill-mode: forwards;
}

@keyframes HoverPic {
        0% { width: var(--ChatImageSize);
            height: var(--ChatImageSize);}
        1% {  box-shadow:none; }
        100% { border-radius:0%;
            box-shadow:none;
            padding-left: calc(var(--ChatImageSize) * 1.5);;
            width: calc(var(--ChatImageSize) * 3);
            height: calc(var(--ChatImageSize) * 3); }
}
