.sidebarRegion__23e6b {
    background-image: url("https://i.postimg.cc/9XpWVS5Q/2025-02-01-1.png") !important;
    background-size: 175px !important;
    background-position: bottom left 4rem !important;
    background-repeat:no-repeat;
}
