/*Background Image*/
.app {
    background-size: cover !important;
    background-position: center;
    font-family: var(--Font) !important;
}
.appMount-3lHmkl, body{
    background: transparent !important;
    background-image: var(--BackgroundImage) !important;
}

/*Base*/
.theme-dark {
    --header-primary: var(--Color13);
    --header-secondary: var(--Color14);
    --text-normal: var(--Color13);
    --text-muted: var(--Color14);
    --text-link: var(--Color10);
    --channels-default: var(--Color13);
    --interactive-normal: var(--Color13);
    --interactive-hover: var(--Color14);
    --interactive-active: var(--Color14);
    --interactive-muted: var(--Color14);
    --background-primary: transparent;
    --background-secondary: transparent;
    --background-secondary-alt: transparent;
    --background-tertiary: transparent
    --background-accent: transparent;
    --background-floating: var(--Color2);
    --background-mobile-primary: transparent;
    --background-mobile-secondary: transparent;
    --background-modifier-hover: var(--Color15);
    --background-modifier-active: var(--Color2);
    --background-modifier-selected: var(--Color2);
    --background-modifier-accent: var(--Color6);
    --background-mentioned: transparent;
    --background-mentioned-hover: transparent;
    --background-message-hover: transparent;
    --elevation-stroke: transparent;
    --elevation-low: transparent;
    --elevation-medium: transparent;
    --elevation-high: transparent;
    --logo-primary: var(--Color13);
    --focus-primary: var(--Color13);
    --guild-header-text-shadow: 0;
    --channeltextarea-background: var(--Color1);
    --activity-card-background: var(--Color1);
    --textbox-markdown-syntax: var(--Color13);
    --deprecated-card-bg: transparent;
    --deprecated-card-editable-bg: transparent;
    --deprecated-store-bg: transparent;
    --deprecated-quickswitcher-input-background: transparent;
    --deprecated-quickswitcher-input-placeholder: transparent;
    --deprecated-text-input-bg: transparent;
    --deprecated-text-input-border: transparent;
    --deprecated-text-input-border-hover: transparent;
    --deprecated-text-input-border-disabled: transparent;
    --deprecated-text-input-prefix: transparent;
}

/*Emoji Settings*/
.emoji {
    width: var(--EmojiTextSize);
    height: var(--EmojiTextSize);
    vertical-align: var(--EmojiTextAli);
}
.emoji.jumboable{
    width: var(--EmojiSize);
    height: var(--EmojiSize);
    min-height: var(--EmojiSize);
}
.emoji-2cWBLE, .icon-15YQ1T {
    max-width: 1.5rem;
    max-height: 1.5rem;
    vertical-align: middle;
}

/*Font & Shadow*/
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, td, tfoot, th, thead, tr, tt, ul, var, samp, small, strike, strong, table, tbody,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorBrand-3pXr91,
.barButtonBase-3UKlW2,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.input-2VB9rf,
.theme-dark .quickMessage-1yeL4E,
.input-1Rv96N,
.input-cIJ7To,
.theme-dark .container-VSDcQc .input-1ppKdn,
.input-3Xdcic,
.bd-button,
.addFriendInput-4bcerK,
.note-3kmerW textarea,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorRed-1TFJan,
.lookGhost-2Fn_0-.colorBrand-3pXr91,
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.lookGhost-2Fn_0-.colorGrey-2DXtkV, 
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.lookInverted-2D7oAl.colorGreen-29iAKY, 
#bda-qem button {
    font-family: var(--Font) !important;
    text-shadow: 1px 1px 1px var(--Color5),
    -1px 1px 1px var(--Color5),
    1px -1px 1px var(--Color5),
    -1px -1px 1px var(--Color5);
}

/*Icons*/
.circleIconButton-jET_ig,
.clickable-3rdHwn .icon-22AiRD,
.button-14-BFJ,
.button-3AYNKb,
.attachButtonPlus-jWVFah,
.item-1Yvehc .hint-22uc-R,
.emojiPicker-3m1S-j .categories-1feg4n .categoryIcon-2gYcnP,
.bd-icon,
.actionIcon-2Hi9ZG {
    color: var(--Icons) !important;
    fill: var(--Icons) !important;
}
.circleIconButton-jET_ig:hover,
.clickable-3rdHwn .icon-22AiRD:hover,
.button-14-BFJ:hover,
.button-3AYNKb:hover,
.attachButtonPlus-jWVFah:hover,
.active-23Nm0T .icon-3D60ES, .buttonWrapper-1ZmCpA:hover .icon-3D60ES,
.item-1Yvehc .hint-22uc-R:hover,
.bd-icon:hover,
.emojiPicker-3m1S-j .categories-1feg4n .categoryIcon-2gYcnP:hover,
.actionIcon-2Hi9ZG:hover {
    color: var(--IconsHover) !important;
    fill: var(--IconsHover) !important;
}

/*No Margin*/
.withFrame-haYltI {
    margin: 0 !important;
}

/*No Border*/
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.divider-JfaTT5,
#bda-qem button {
    border: 0 !important;
}

/*No Shadow*/
.channelNotice-1-XFjC,
.header-2o-2hj,
.theme-dark .container-3ayLPN,
.themeDefault-24hCdX.sizeDefault-2YlOZr,
.theme-dark .footer-3rDWdC,
.userPopout-3XzG_A,
.hasMore-3e72_v,
.theme-dark .item-3eFBNF,
.theme-dark .message-2qRu38,
.theme-dark .modal-yWgWj-,
.theme-dark .root-1gCeng,
.theme-dark .uploadModal-2ifh8j,
.theme-dark .footer-3mqk7D,
.theme-dark .elevationHigh-1PneE4,
.theme-dark .inviteSettingsInviteRow-3p2O-N,
.theme-dark .button-2CgfFz {
    box-shadow: none !important;
}

/*Transparent*/
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
.contextMenu-HLZMGh,
.ace-monokai .ace_gutter,
.theme-dark .container-1D34oG,
.item-3HknzM.da-item.item-PXvHYJ.da-item,
.theme-dark .container-3ayLPN,
.theme-dark .option-96V44q:after,
.theme-dark .container-VSDcQc .sectionTag-pXyto9,
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3,
.theme-dark .focused-2bY0OD,
.px-10SIf7 .botText-1526X_,
.theme-dark .footer-3rDWdC,
#bda-qem-twitch-container, #bda-qem-favourite-container, 
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
#bda-qem,
#bda-qem button,
.theme-dark .inset-3sAvek,
.topSectionPlaying-1J5E4n,
.theme-dark .row-rrHHJU.selected-1pIgLL,
.theme-dark .headerNormal-T_seeN,
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .header-2bNvm4,
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6,
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz,
.theme-dark .paymentPane-3bwJ6A,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9,
.theme-dark .paginator-166-09,
.theme-dark .payment-xT17Mq,
.theme-dark .footer-3mqk7D,
.topSectionSpotify-1lI0-P,
.headerSpotify-zpWxgT {
    background: transparent !important;
}

/*Color 1*/
.layers-3iHuyZ,
.withFrame-haYltI,
.markup-2BOw-j code,
.container-3baos1, .container-3baos1 .avatar-SmRMf2,
.content-1o0f9g,
.messageGroupWrapper-o-Zw7G .messageGroupCozy-2iY6cT,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.quickswitcher-3JagVE, 
.input-2VB9rf,
.emptyCard-1RJw8n,
#bd-pub-button,
#bd-customcss-detach-container,
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls,
.circleIconButton-jET_ig,
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g,
.ace-monokai,
.searchResult-3pzFAB,
.searchResultMessage-2VxO12.hit-NLlWXA,
.note-QfFU8y textarea,
.theme-dark .quickMessage-1yeL4E, 
.note-3HfJZ5,
.container-1giJp5,
.section-2gLsgF,
.searchResultsWrap-2DKFzt,
.container-2XeR5Z,
.theme-dark .message-2qRu38,
.preview-2nSL_2,
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.activityPanel-28dQGo {
    background-color: var(--Color1) !important;
}

/*Color 2*/
.content-1-zrf2,
.theme-dark .keybindShortcut-1BD6Z1 span,
.theme-dark .option-96V44q.selected-rZcOL-,
.theme-dark .autocomplete-1vrmpx,
.themeDefault-24hCdX,
.theme-dark .defaultIndicator-3WqGFB,
.root-SR8cQa,
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN,
.botTagRegular-2HEhHi,
.theme-dark .root-1gCeng,
.hasMore-3e72_v,
.wrapper-3D2qGf,
.jumpToPresentBar-9P20AM,
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc,
.contextMenu-HLZMGh,
.theme-dark .headerExpanded-CUEwZ5,
.theme-dark .changeDetails-bk98pu,
.theme-dark .tierHeaderLocked-1a2opw,
.userPopout-3XzG_A,
.theme-dark .attachment-33OFj0,
.theme-dark .bd-addon-list .bd-addon-card,
.theme-dark .defaultIndicator-G3c16x,
.theme-dark .container-3ayLPN,
.messagesPopoutWrap-1MQ1bW,
.emojiPicker-3m1S-j,
.backdrop-1wrmKB.da-backdrop,
.uploadArea-3QgLtW,
.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s,
#bda-qem button,
.wrapper-35wsBm,
.embedFull-2tM8--,
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteShadow-iiGWFU,
.bd-select .bd-select-options,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.css-181m2lf-menu,
.theme-dark .modal-yWgWj-,
.toolbar-2bjZV7,
.inputDefault-_djjkz,
.theme-dark .tierBody-x9kBBp,
.theme-dark .colorPickerCustom-2CWBn2,
.theme-dark .bar-2Qqk5Z,
.container-cMG81i,
.botTagInvert-18-95s,
.theme-dark .container-1nZlH6, 
.searchBar-3dMhjb,
.bd-switch,
.bd-search-wrapper,
.theme-dark .uploadModal-2ifh8j,
.wrapper-1cBijl,
.unread-1xRYoj,
.container-2VW0UT.elevationHigh-1PneE4.da-container.da-elevationHigh,
.expandedFolderBackground-2sPsd- {
    background-color: var(--Color2) !important;
}
/*Color 2 _ Color*/
.theme-dark .keybindShortcut-1BD6Z1 {
    color: var(--Color2) !important;
}

/*Color 3*/
.item-2hkk8m,
.newMessagesBar-mujexs,
.unreadPill-2HyYtt,
.unreadPillCapStroke-7rkHbg,
.iconBadge-qZ4Ksk {
    background-color: var(--Color3) !important;
    fill: var(--Color3) !important;
    color: var(--Color3) !important;
}
.numberBadge-2s8kKX.base-PmTxvP.da-numberBadge.da-base {
    background-color: var(--Color3) !important;
}

/*Color 4*/
.title-3qD0b-,
.clickable-2ap7je .header-2o-2hj,
.searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .autocompleteShadow-iiGWFU {
    box-shadow: 0 0 0.2rem 0.2rem var(--Color4) !important;
} 

/*Color 5 - Used Along Font On Top*/

/*Color 6*/
.theme-dark .row-rrHHJU.selected-1pIgLL,
.theme-dark .footer-3mqk7D,
.activity-11LB_k,
.theme-dark .tierBody-x9kBBp,
.container-1giJp5,
.activityPanel-28dQGo {
    border-top: 1px solid var(--Color6) !important;
}
.guilds-1SWlCJ,
.container-PNkimc,
.scroller-1JbKMe,
.btn.btn-primary,
#bda-qem button {
    border-right: 1px solid var(--Color6) !important;
}
.members-1998pB,
.searchResultsWrap-2DKFzt,
.btn.btn-primary,
.nowPlayingScroller-2XrVUt,
#bda-qem button {
    border-left: 1px solid var(--Color6) !important;
}
.selected-1GqIat .icon-22AiRD,
.group-spacing-16 .divider-3_HH5L.beforeGroup-1rH1F0,
.channelNotice-1-XFjC,
.theme-dark .bottomDivider-1K9Gao,
.theme-dark .item-3eFBNF,
.css-2yldzf-control,
.theme-dark .row-rrHHJU.selected-1pIgLL,
.css-181m2lf-menu,
.activity-11LB_k,
.container-1r6BKw.themed-ANHk51,
.theme-dark .inviteSettingsInviteRow-3p2O-N,
.theme-dark .button-2CgfFz,
.theme-dark .container-1nZlH6 {
    border-bottom: 1px solid var(--Color6) !important;
}
.messageGroupWrapper-o-Zw7G,
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g,
.input-2VB9rf,
.theme-dark .container-3ayLPN,
.searchResult-3pzFAB,
.note-3HfJZ5,
.hasMore-3e72_v,
.channelTextArea-rNsIhG,
.theme-dark .quickMessage-1yeL4E,
.container-2XeR5Z,
.checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.da-checkbox.da-flexCenter.da-flex.da-justifyCenter.da-alignCenter.box-mmYMsp.checked-3_4uQ9.da-checked,
.checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.da-checkbox.da-flexCenter.da-flex.da-justifyCenter.da-alignCenter.round-2jCFai.checked-3_4uQ9.da-checked,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.css-15ejc46-control,
.theme-dark .root-1gCeng,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.theme-dark .uploadModal-2ifh8j,
.theme-dark .elevationHigh-1PneE4,
.theme-dark .colorPickerCustom-2CWBn2,
.inputDefault-_djjkz,
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.theme-dark .auditLog-3jNbM6,
.theme-dark .card-FDVird:before,
.container-cMG81i,
.note-3kmerW textarea,
.expandedFolderBackground-2sPsd-,
.section-2gLsgF,
.theme-dark .attachment-33OFj0,
.theme-dark .message-2qRu38,
.bd-select .bd-select-options,
.theme-dark .bd-addon-list .bd-addon-card,
.cardPrimaryOutline-29Ujqw,
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus,
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span,
.uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx {
    border: 1px solid var(--Color6) !important;
}
.theme-dark .keybindShortcut-1BD6Z1 span,
.theme-dark .item-3T2z1R {
    border-color: var(--Color6) !important;
}

/*Color 7*/
.lookFilled-1Gx00P.colorBrand-3pXr91,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.jumpButton-Ia2hRJ,
.wrapper-2aW0bm,
.theme-dark .changeButton-1uBsOn,
.css-15ejc46-control,
.theme-dark .button-2CgfFz,
.childWrapper-anI2G9,
.lookGhost-2Fn_0-.colorGrey-2DXtkV,
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookInverted-2D7oAl.colorGreen-29iAKY,
.bd-button,
.actionButton-uPB8Fs,
.folder-21wGz3,
.folderIconWrapper-226oVY.da-folderIconWrapper {
    background-color: var(--Color7) !important;
}

/*Color 8*/
.lookFilled-1Gx00P.colorBrand-3pXr91:hover,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor:hover #bd-customcss-attach-controls button:hover,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover,
.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
.jumpButton-Ia2hRJ:hover,
.wrapper-2aW0bm:hover,
.css-15ejc46-control:hover,
.theme-dark .changeButton-1uBsOn:hover,
.css-2yldzf-control,
.lookGhost-2Fn_0-.colorBrand-3pXr91,
.lookGhost-2Fn_0-.colorGrey-2DXtkV:hover,
.theme-dark .button-2CgfFz:hover,
.childWrapper-anI2G9:hover,
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover,
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookInverted-2D7oAl.colorGreen-29iAKY:hover,
.bd-button:hover,
.actionButton-uPB8Fs:hover,
.folder-21wGz3:hover,
.folderIconWrapper-226oVY.da-folderIconWrapper:hover {
    background-color: var(--Color8) !important;
}

/*Color 9*/
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background: var(--Color9) !important;
}

/*Color 10 - Not Enforced*/
.content-2M3n_H a,
.wrapper-3WhCwL,
.operations-36ENbA>a {
    color: var(--Color10) !important;
}

/*Color 11*/
.itemBase-tz5SeC.danger-2dXSTE, .itemBase-tz5SeC.danger-2dXSTE:hover,
.lookOutlined-3sRXeN.colorRed-1TFJan,
.item-1GzJrl.leave-1DRJfn {
    color: var(--Color11);   
}
/*Color 11_Background*/
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: var(--Color11); 
}

/*Color 12*/
.compact-T3H92H .header-23xsNx .username-1A8OIy, .cozy-3raOZG .header-23xsNx .username-1A8OIy {
    color: var(--Color12);
}

/*Color 13*/
.lookFilled-1Gx00P.colorBrand-3pXr91,
.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6,
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button,
.theme-dark .keybindShortcut-1BD6Z1 span,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.hasMore-3e72_v,
.barButtonBase-3UKlW2,
#bda-qem button,
.unreadPill-2HyYtt,
.modeMuted-3osy7j:hover .name-3_Dsmg, .wrapper-1ucjTd:hover .name-3_Dsmg,
.theme-dark .quickMessage-1yeL4E,
.input-1Rv96N,
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN,
.theme-dark .paymentPane-3bwJ6A,
.theme-dark .codeRedemptionRedirect-1wVR4b,
.lookInverted-2D7oAl.colorGreen-29iAKY,
.lookInverted-2D7oAl.colorBrand-3pXr91,
.theme-dark .headerExpanded-CUEwZ5,
.lookGhost-2Fn_0-.colorGrey-2DXtkV,
.theme-dark .tierHeaderLocked-1a2opw,
.bd-addon-list .bd-card-footer button,
.bd-search,
.bar-30k2ka,
.lookFilled-1Gx00P.colorRed-1TFJan,
.base-PmTxvP,
.modeSelected-1zApJ_ .name-3_Dsmg,
.modeUnread-1zpFdA .name-3_Dsmg,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.theme-dark .friendSelected-1sa4bG,
.item-3HknzM.da-item.item-PXvHYJ.da-item,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
.theme-dark .container-VSDcQc .input-1ppKdn,
.bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected,
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item,
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    color: var(--Color13) !important;
}
/*Color 13_FILL*/
.theme-dark .keybindShortcut-1BD6Z1 span .bindArrow-2X3Aom g {
    fill: var(--Color13) !important;
}

/*Color 14*/
.name-uJV0GL:active,
.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6,
.ace-monokai .ace_gutter,
.theme-dark .defaultIndicator-3WqGFB,
.activityText-yGKsKm,
.theme-dark .auditLog-3jNbM6,
#bda-qem button:hover,
.theme-dark .tierBody-x9kBBp,
.lookGhost-2Fn_0-.colorBrand-3pXr91,
#bd-pub-button,
.name-3_Dsmg,
.bar-30k2ka:hover,
.bd-button:hover,
.item-3HknzM.da-item.item-PXvHYJ.da-item:hover,
.bd-select,
.botTagInvert-18-95s,
.botTagRegular-2HEhHi,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
    color: var(--Color14) !important;
}

/*Color 15*/
.theme-dark .selectorSelected-1_M1WV, 
.interactive:hover,
#bda-qem button.active, #bda-qem button.active:hover,
#bda-qem button:hover,
.css-1gnr91b-option,
.theme-dark .row-rrHHJU.selected-1pIgLL:hover,
.css-12o7ek3-option,
.unread-1xRYoj:hover,
.bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected,
.theme-dark .card-FDVird:before,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.item-3HknzM.da-item.item-PXvHYJ.da-item:hover,
.theme-dark .friendSelected-1sa4bG,
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--Color15) !important;
}

/*Color 16*/
.themeDefault-24hCdX.valueChecked-m-4IJZ,
.bd-switch-checked,
.checkbox-1ix_J3.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.da-checkbox.da-flexCenter.da-flex.da-justifyCenter.da-alignCenter.round-2jCFai.checked-3_4uQ9.da-checked,
.theme-dark .checked-3_4uQ9,
.barFill-23-gu-,
.theme-dark .passthroughSelected-1Eq0Kl,
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: var(--Color16) !important;
}

/*Chat Image Scale*/
.a11y-font-scaled-down .avatar-1BDn8e {
	opacity: var(--ChatImage) !important;
    width: var(--ChatImageSize) !important;
    height: var(--ChatImageSize) !important;
    background-size: var(--ChatImageSize) var(--ChatImageSize);
    border-radius: var(--ImageEdgeCutting) !important;
    box-shadow: 0rem 0rem 1rem var(--Color4) !important;
}
/*Profile Image Scale*/
div.avatar-3EQepX.da-avatar.wrapper-3t9DeA.da-wrapper {
    width: var(--ProfileImageSize) !important;
    height: var(--ProfileImageSize) !important;
}
/*Mask Removal For ImageEdgeCutting*/
foreignobject {
    mask: none;
    border-radius: var(--ImageEdgeCutting) !important;
}
/*Message Spacing From Image*/
.cozy-3raOZG .contents-2mQqc9,
.container-1ov-mD {
    margin-left: calc(var(--ChatImageSize) - 3rem);
}
.cozyMessage-3V1Y8y.groupStart-23k01U {
    min-height: calc(var(--ChatImageSize) + 0.2rem);
}

.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
    margin-top: 1.1rem !important; 
    margin-bottom: 1.1rem !important; 
}
.isHeader-2dII4U {
    top: 0px;
}
.cozy-3raOZG .messageContent-2qWWxC {
    padding-top: -2rem;    
}

/*Checkbox Spacing*/
.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span:after {
    margin-top: 2px;
    margin-left: 1px;
}

/*Search Result Spacing*/
.searchResult-3pzFAB {
    margin-bottom: 1rem;
}

/*Aimations*/
/*Mention Pulse*/
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover,
.mentioned-xhSam7 {
    animation: 0.8s infinite alternate ease-out MentionBackground;
    border-right: 2px solid rgba(0,0,0,0) !important;
}
.mentioned-xhSam7:before {
    animation: 0.8s infinite alternate ease-out MentionBorders;
}
@keyframes MentionBackground {
    from {
        background-color: transparent;
        border-color: rgba(0,0,0,0);
    }
    to{
        background-color: var(--Color2);
        border-color: var(--Color3);
    }
}
@keyframes MentionBorders {
    from {
        background-color: transparent;
    }
    to{
        background-color: var(--Color3);
    }
}

/*Hover Element Pulse For Vision*/
.searchResult-3pzFAB:hover,
.messageGroupWrapper-o-Zw7G:hover {
    animation: 1.5s infinite ease-out Hover;
}
@keyframes Hover {
        0% { }
        50% { background-color: rgba(50,50,120,0.3); }
        100% { }
}

/*Chat Image Scale On Hover*/
.a11y-font-scaled-down .avatar-1BDn8e:hover {
    animation: 0.3s ease-in HoverPic;
    animation-fill-mode: forwards;
}
@keyframes HoverPic {
        0% { width: var(--ChatImageSize);
            height: var(--ChatImageSize);}
        1% {  box-shadow:none; }
        100% { border-radius:0%;
            box-shadow:none;
            padding-left: calc(var(--ChatImageGrowth) * calc(var(--ChatImageSize) + 1rem));
            width: calc(var(--ChatImageSize) + calc(var(--ChatImageGrowthScale) * var(--ChatImageGrowth)));
            height: calc(var(--ChatImageSize) + calc(var(--ChatImageGrowthScale) * var(--ChatImageGrowth))); }
}
